@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');

@font-face {
    font-family: 'beyond_the_mountainsregular';
    src: url('fonts/beyond_the_mountains-webfont.woff2') format('woff2'),
         url('fonts/beyond_the_mountains-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --clr-highlight: #eb1c25;
    --clr--highlight-light: #e73a42;
    --clr-dark-bg: rgba(0, 0, 0, 1);
    --clr-light-text: rgba(255, 255, 255, 1);
    --clr-dark-text: rgba(0, 0, 0, 1);

    --font-size--small: 60%;
    --font-size: 100%; /* 16px */
    --ratio: 1.333;
    
    --p:  var(--font-size);
    --h4: calc(var(--font-size)*var(--ratio));
    --h3: calc(var(--h4)*var(--ratio));
    --h2: calc(var(--h3)*var(--ratio));
    --h1: calc(var(--h2)*var(--ratio));

    --media-small: 600px;
    --media-large: 100vw;

    --font-family: "Open Sans", Arial, Helvetica, sans-serif;

}

@media (max-width: 500px) {
    :root {
        --ratio: 1.1;
    }
}


h1 {
    font-family: 'beyond_the_mountainsregular', sans-serif;
    font-size: calc(var(--h1)*1);
    text-align: center;
    margin: 0;

    width: 100%;
}


h1 span {
    margin: 0 2rem;
}

@media (min-width: 500px) {
    h1 {
        font-size: calc(var(--h1)*1.3);
    }
}

h2 {
    font-family: 'beyond_the_mountainsregular', sans-serif;
    font-size: var(--h2);
    text-align: center;

    text-transform: capitalize;
    margin: 0;
    padding: 3vh 0;
}

@media (max-width: 500px) {
    h2 {
        font-size: calc(var(--h2) * 2);
        padding: 3vh 0;
    }
}


h4 {font-size: var(--h4);}


Try Dark Color Scheme */
body {
    background-color: var(--clr-dark-bg);
    color: var(--clr-light-text);
} 



body {
    font-family: var(--font-family);
    font-size: var(--font-size--small);
    font-weight: 400;
    margin: 0;
    padding: 0;

    background-color: var(--clr-dark-bg);
    color: var(--clr-light-text);


  
}
@media (max-width: 500px) {
    body {
        font-size: 18px;
    }
}


address {
    font-style: normal;
} 

address p strong {
    display: block;
}

.phone a {
    color: var(--clr-light-text);
    font-weight: 700;

}
@media (min-width: 400px) {
    body{font-size: var(--font-size);}
}

ul {
    padding-left: 0;
    list-style: none;
    margin: 0;

}

img {
    max-width: 100%;
    display: block;
}

.wrapper {
    margin: 0 auto;
}

/* Utility Clases */

.center {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.dark-bg {
    background-color: var(--clr-dark-bg);
    color: var(--clr-light-text);
}

/* Buttons */

.btn {
    display: inline-block;
    padding: 1rem 1.5rem; 
    margin: 1rem auto;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
}

.btn__outline {
    background-color: var(--clr-highlight);
    color: var(--clr-light-text);
    border: 0.1rem solid rgba(255, 255, 255, 1); 
    text-transform: uppercase;
}

.btn__primary {
    background-color: var(--clr-highlight);
    color: var(--clr-light-text);
    transition: all 0.25s ease-in-out;
    text-align: center;
}

.btn__primary:hover {
    background-color: var(--clr-highlight);
    color: var(--clr-dark-text);
    transition: all 0.25s ease-in-out;
}


.btn__secondary {
    background-color: var(--clr-highlight);
    display: block;
    color: var(--clr-light-text);
    border: 0.1rem solid var(--clr-highlight);
}

.btn__secondary:hover {
    background-color: var(--clr-highlight);
    color: var(--clr-dark-text);
    transition: all 0.25s ease-in-out;
}





/* Header */
header[role="banner"] {
    background-color: var(--clr-highlight);
    color: var(--clr-light-text);

    padding: 2vh 0;

    text-align: center;
    display: block;

}


@media (min-width: 700px) {
    .header__container {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-auto-rows: 1fr;

        align-items: center;

        margin: 2vh 0;
    }
}
.logo img {
    display: inline-block;
    margin: 0 auto 1rem auto;
}

/*  New Navigation */

#menu {
    margin: 0 auto;
}

#menu ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  #menu .main-menu {
    display: none;
  }
  
  #tm:checked + .main-menu {
    display: block;
  }
  
  #menu input[type="checkbox"], 
  #menu ul span.drop-icon {
    display: none;
  }
  
/* #menu li, 
  #toggle-menu, 
  #menu .sub-menu {
    border-style: solid;
    border-color: rgba(0, 0, 0, .05);
  }  */
  
  #menu li, 
  #toggle-menu {
    border-width: 0 0 1px;
  }
  
  #menu .sub-menu {
    background-color: var(--clr--highlight-light);
    border-width: 1px 1px 0;
    margin: 0 1em;
    
  }
  
  #menu .sub-menu li:last-child {
    border-width: 0;
  }
  
  #menu li, 
  #toggle-menu, 
  #menu a {
    position: relative;
    display: block;
    color: white;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .125);
  }
  
  #menu, 
  #toggle-menu {
    background-color: var(--clr-highlight);
  }
  
  #toggle-menu, 
  #menu a {
    padding: 1rem 0;
    margin: 0 2rem;
  }
  
  #menu a {
    transition: all .125s ease-in-out;
    -webkit-transition: all .125s ease-in-out;

    text-decoration: none;
  }
  
  #menu a:hover {
    background-color: rgba(var(--clr-highlight), 0.7);
    color: white;

    text-decoration: none;

    border-bottom: 0.1rem solid rgba(255, 255, 255, 1);
  }
  
  #menu .sub-menu {
    display: none;
  }

  #menu .sub-menu a {
    border-bottom: 0;
  }
  
  #menu input[type="checkbox"]:checked + .sub-menu {
    display: block;
  }
  
  #menu .sub-menu a:hover {
    color: #444;
  }
  
  #toggle-menu .drop-icon, 
  #menu li label.drop-icon {
    position: absolute;
    right: 1.5em;
    top: 1.25em;
  }
  
  #menu label.drop-icon, #toggle-menu span.drop-icon {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    text-align: center;
    background-color: rgba(0, 0, 0, .125);
    text-shadow: 0 0 0 transparent;
    color: rgba(255, 255, 255, .75);
  }
  
  #menu .drop-icon {
    line-height: 1;
  }

  @media only screen and (max-width: 64em) and (min-width: 52.01em) {
    #menu li {
      width: 33.333%;
    }
  
    #menu .sub-menu li {
      width: auto;
      border-bottom: 0;
    }
  }
  
  @media only screen and (min-width: 52em) {
    #menu .main-menu {
      display: block;
    }
  
    #toggle-menu, 
    #menu label.drop-icon {
      display: none;
    }
  
    #menu ul span.drop-icon {
      display: inline-block;
    }
  
    #menu li {
      float: left;
      border-width: 0 1px 0 0;
    }
  
    #menu .sub-menu li {
      float: none;
    }
  
    #menu .sub-menu {
      border-width: 0;
      margin: 0;
      position: absolute;
      top: 100%;
      left: 0;
      width: 12em;
      z-index: 3000;
    }
  
    #menu .sub-menu, 
    #menu input[type="checkbox"]:checked + .sub-menu {
      display: none;
    }
  
    #menu .sub-menu li {
      border-width: 0 0 1px;
    }
  
    #menu .sub-menu .sub-menu {
      top: 0;
      left: 100%;
    }
  
    #menu li:hover > input[type="checkbox"] + .sub-menu {
      display: block;
    }
  }

/* Banner Area */
[role="complementary"] {
    background: #000 url(../images/pizza-bg-opt.jpg) no-repeat;
    background-size: cover;

    color: var(--clr-light-text);

    padding: 20vh 0;

    word-wrap: break-word; 
}

/* Byline above main head */
.byline {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    color: var(--clr-light-text);

    margin: 0;
}



/* Specials */

.specials > .wrapper {
    text-align: center;
} 

@media (min-width: 600px) {
    .specials > .wrapper {
        width: 90vw;
    }
}

@media (min-width: 600px) {
    .specials__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 2rem 1rem;
    }
}

.specials__grid > div {
    text-align: center;
}

.specials img {
    margin: 0 auto;
}

.specials .price {
    font-size: var(--h4);
    text-align: center;
    font-weight: 700;
    margin-top: 0;
}

.specials__title {
    text-align: center;
}

/* Menu Tabs on homepage */

.menu {
    color: var(--clr-light-text);
    padding: 1vh 0;
}

.tabbed {
	overflow-x: hidden; /* so we could easily hide the radio inputs */
	margin: 32px 0;
    padding-bottom: 16px;
    
    margin: 0 1rem;
}

.tabbed [type="radio"] {
	/* hiding the inputs */
	display: none;
}

.tabs {
	display: flex;
    justify-content: center;
	list-style: none;
    padding: 0;
    border-bottom: 0.25rem solid var(--clr-highlight);

    font-size: calc(var(--font-size--small) * 1.5);

    text-align: center;
}

@media (max-width: 840px) {
    .tabs {
        display: block;
        font-size: 14px;
    }
}
.tab > label {
    display: block;
    margin: 0 1.5vw -1px 1.5vw;
	padding: 1.2vw 1.5vw;
	color: #fff;
	font-size: var(--font-size); 
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;	
    transition: all 0.3s;

}

/* .tab label span {
    border-bottom: 0.1rem solid #666;
    transition: all 0.2s ease-in-out;
} */
.tab:hover label {
    color: #333;    
}

/* .tab:hover label span {
    border-bottom: 0.1rem solid white;
    transition: all 0.2s ease-in-out;
} */

.tab-content {
	display: none;
    color: var(--clr-light-text);

    margin: 0 3vw;
}

/* As we cannot replace the numbers with variables or calls to element properties, the number of this selector parts is our tab count limit */
.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label,
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) label,
.tabbed [type="radio"]:nth-of-type(5):checked ~ .tabs .tab:nth-of-type(5) label,
.tabbed [type="radio"]:nth-of-type(6):checked ~ .tabs .tab:nth-of-type(6) label,
.tabbed [type="radio"]:nth-of-type(7):checked ~ .tabs .tab:nth-of-type(7) label,
.tabbed [type="radio"]:nth-of-type(7):checked ~ .tabs .tab:nth-of-type(8) label,
.tabbed [type="radio"]:nth-of-type(7):checked ~ .tabs .tab:nth-of-type(9) label,
.tabbed [type="radio"]:nth-of-type(7):checked ~ .tabs .tab:nth-of-type(10) label  {
    color:#fff;
    background: var(--clr-highlight); 
}

.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tab-content:nth-of-type(4),
.tabbed [type="radio"]:nth-of-type(5):checked ~ .tab-content:nth-of-type(5),
.tabbed [type="radio"]:nth-of-type(6):checked ~ .tab-content:nth-of-type(6),
.tabbed [type="radio"]:nth-of-type(7):checked ~ .tab-content:nth-of-type(7),
.tabbed [type="radio"]:nth-of-type(7):checked ~ .tab-content:nth-of-type(8),
.tabbed [type="radio"]:nth-of-type(7):checked ~ .tab-content:nth-of-type(9),
.tabbed [type="radio"]:nth-of-type(7):checked ~ .tab-content:nth-of-type(10) {
	display: block;
}

/* Items in Menu */

.tabbed__title {
    text-align: center;
}

.tabbed__wrapper {
    margin: 2vh auto;
    width: 80vw;
}



.tabbed__wrapper .price,
.tabbed__wrapper strong {
    font-weight: 700;
    color: var(--clr-highlight);
}

.tabbed__wrapper hr {
    color: var(--clr-light-text);
    opacity: 0.2;
    margin: 2vh 0;
}

.tabbed-nav {
    padding: 5vh 0;
}


.tabbed__prices {
    color: var(--clr-light-text);
    text-align: center;

   margin: 3vh auto;
}

.tabbed__prices a {
    color: var(--clr-light-text);
    text-decoration: none;

    border-bottom: 0.1rem solid var(--clr-light-text);
}

.tabbed__prices a:hover {
    color: var(--clr-highlight);
    text-decoration: none;

    border-bottom: 0.1rem solid var(--clr-highlight);
}

.tabbed__prices > li {
    display: inline-block;
    margin-right: 1rem;
    color: var(--clr-highlight);
    font-weight: 700;
}

.tabbed__prices strong {
    font-weight: 700;
    color: var(--clr-light-text);
    margin-right: 1vw;
}

.tabbed__item {
    padding: 1rem;
    text-align: left;
}


.tabbed__item > div {
    vertical-align: top;
}
.tabbed__item h4 {
    font-weight: 500;
    margin: 0 0 0.5rem 0;
}


/* Food Grid */
.food__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;

    margin: 3rem 10vw 0 10vw;
}



.food__grid img {
    width: 211px;
    height: 158px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* Menu Page  */

.menu__items {
    margin: 5vh 0 10vh 0;
}

.menu__items p {
    margin-top: 0;
    text-transform: capitalize;
}

/* Footer  */

[role="contentinfo"] {
    text-transform: capitalize;
    text-align: center;
    background-color: var(--clr-highlight);
    color: var(--clr-light-text);

    padding: 3vh 0;
}

.footer-logo picture {
    display: inline-block;
}


.map img {
    display: block;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}

<<<<<<< HEAD
#traditional .menu__items,
#gourmet-meat .menu__items,
#gourmet-veggie .menu__items,
#mains .menu__items,
#sides .menu__items,
#salads .menu__items,
#pides .menu__items,
#gozleme .menu__items {
    columns: 2;
    column-gap: 2rem;
} 




#footer-tabs {
    border-top: 4px solid var(--clr--highlight-light);
}

.footer__container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-auto-rows: 1fr;
=======
@media screen and (min-width: 600px) {
    #traditional .menu__items,
    #gourmet-meat .menu__items,
    #gourmet-veggie .menu__items,
    #mains .menu__items,
    #sides .menu__items,
    #salads .menu__items {
        columns: 2;
        column-gap: 2rem;
    } 
}
    @media screen and (min-width: 600px) {
    .footer__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
>>>>>>> d93daa44cfcc77e8d70de1661c17451257a66fdd

    color: var(--clr-light-text);
    }
}

.footer__container a {
    color: var(--clr-light-text);
}

.is-underlined {
    color: var(--clr-light-text);
    border-bottom: 3px solid var(--clr-light-text);
}